body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('/assets/background.png');
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the image fixed in place */
    background-position: center; /* Centers the image on the page */
}

a:link {
    color: #2D57FF;
}

a:visited {
    color: #2D57FF;
}

a:hover {
    color: #ffffff
}