.p0_dialoguePosition{
    display: flex;
    justify-content: center;
    align-items: center;
}

#p0_dialogue{
    background-color: #2D57FF;
    text-align: justify;
    vertical-align: middle;
    line-height: 16px;
    width: 40%;
}